* {
    box-sizing: border-box;
  }

body {
    background: linear-gradient(to right, #0022461b, #1cb5e0)  !important;
    display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .root{
    height: 100vh !important;
  }

.fields{
padding: 9px;
}

.feedback-items{
  text-align: center;
}
.gif img{
  
  width: 100% !important;
}

